.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the entire width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column-container ul,
a {
  list-style: none; /* Remove bullets */
  padding: 0; Remove padding;
  text-decoration: none;
}
.footer-column-container {
  display: flex; /* Flexbox for horizontal alignment */
  justify-content: space-evenly; /* Even spacing between columns */
  width: 100%; /* Span full width of the footer */
  padding: 20px 20px; /* Optional padding for spacing */
  gap: 20px; /* Optional extra spacing between columns */
}


.footer-column-container ul li {
  margin-bottom: 25px; /* Adds spacing between list items */
}


.footer-column-1 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  
  
}
.footer-column-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer-column-3 {
 display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer-column-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.footer-column-5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}

.footer-column-6 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}

.footer-links-container {
  display: flex; /* Flexbox for horizontal alignment */
  justify-content: space-around; /* Even spacing between columns */
  width: 100%; /* Span full width of the footer */
  padding: 10px 10px; /* Optional padding for spacing */
  }
.legal-links{
  display: flex;
  align-content: flex-start;
}
.legal-links a {
  padding: 5px;
}
.region a {
  padding: 5px;
}
